.body{
    background: #7de1b6;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 99% 78%, 0 95%);

}
.topHeader{
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
    width: 100%;
    height: 30%;
}

.logo{
    display: flex;
    margin-top: 2%;
    position: absolute;
    z-index: 1;

}
.logo img[src="Images/Asset1@2x.png"] {
    height:80px;
    color: palegreen;
}

.experience{
    margin-top: 20%;
    font-size: 40px;
    margin-left: 15%;
    alignment: center;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;

}
#smalltext{
    letter-spacing: 10px;
    margin-left: 20%;
}
#bigtext{
    text-align: center;
    letter-spacing: 40px;
}
.middleButton{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    margin-top: 2%;
    z-index: 1;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.topHeader img[src="Images/hero.jpg"]{

    opacity: 0.3;
}
.dropdown{
margin-left: 550%;
}
.dropdown {
    float: left;

}

.dropdown. dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover. dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn{
    border: 25px solid whitesmoke;
    border-radius: 80px;
}
.discoverButton{
    margin-left: 35%;
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 20px 80px;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.discoverButton:hover {
    background-color: bisque;
    color: gray;
    transform: translateY(-7px);
}
#discover{
    font-size: 15px;
    color: slategrey;
}
.lagosMotto{
    text-align: center;
}
#lagosText{
    color:palegreen;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
}
.body3{
    display: flex;
    padding: 1rem;

}
.body3statements{
    margin-right: 20px;
    flex: 1;
    padding: 1rem;
    font-size: 20px;

}
.body3statements{
    color: gray;
}
.body3Images{
    flex: 1;
    height: 15%;
    width: 25%;
    margin-left: 70px;
}
#LinkToLearn{
    color: #4CAF50;

}
#LinkToLearn:hover{
    transform: translateY(-12px);
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: #f9f9f9;
}
.body3Images  img[src="Images/about_image1.jpg"]{

    height: 520px;
    position: absolute;
    z-index: 1;
}
.body3Images img[src="Images/about_image2.jpg"]{
    margin-top: 40px;
    height: 520px;
    padding-left: 15%;
    position: absolute;
    z-index: 2;
}